<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>

    <!-- <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-firestore.js"></script>

    <script>
      // Initialize Firebase
      const config = {
        apiKey: "AIzaSyDAx27-_XF2eM7wXiedd7goKm5p1fMONfs",
        authDomain: "moms-shuffleboard.firebaseapp.com",
        databaseURL: "https://moms-shuffleboard.firebaseio.com",
        projectId: "moms-shuffleboard",
        storageBucket: "moms-shuffleboard.appspot.com",
        messagingSenderId: "154777839060"
      };
      firebase.initializeApp(config);
    </script>

    <script>
      const firestore = firebase.firestore();
      const settings = {/* your settings... */ timestampsInSnapshots: true};
      firestore.settings(settings);

      // firestore.collection("teams").get().then((querySnapshot) => {
      firestore.collection("teams").onSnapshot((querySnapshot) => {
        let teams = [];
        querySnapshot.forEach((doc) => {
            console.log(`${doc.id} => ${JSON.stringify(doc.data())}`);
            teams.push(Object.assign({
              did: doc.id
            }, doc.data()));
        });
        console.log(teams);
        store.commit('setTeams', teams);
      });
    </script>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="team in teams">
          {{ team }}
        </li>
      </ul>

      <form v-on:submit.prevent="processForm">
        <input type="text" placeholder="First Team Member" v-model="form.member_1">
        <input type="text" placeholder="Second Team Member" v-model="form.member_2">
        <input type="submit">
      </form>
    </div>
  </body>

  <script>
    const store = new Vuex.Store({
      state: {
        teams: []
      },
      mutations: {
        setTeams(state, teams) { state.teams = teams; }
        // increment (state) {
        //   state.count++
        // }
      }
    });

    const app = new Vue({
      el: '#app',
      store: store,
      computed: Vuex.mapState({
        teams: 'teams'
      }),
      data: {
        form: {
          member_1: '',
          member_2: ''
        }
      },

      methods: {
        processForm: function() {
          console.log('processForm', this.form.member_1, this.form.member_2);

          firestore.collection('teams').add({
            member_1: this.form.member_1,
            member_2: this.form.member_2
          }).then(ref => {
            console.log('success', ref);
          }, error => {
            console.log('error', error);
          });
        }
      }
    });
  </script>
</html>
